@{
    ViewData["Title"] = "首頁";
}

<div class="container justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="display-4">請登入</h1>
        <br />
        <form id="loginForm" method="post">
            <label>帳號：</label>
            <input type="text" id="account" name="account" required />
            <br />
            <label>密碼：</label>
            <input type="password" id="password" name="password" required />
            <br /> <br />
            <button class="btn btn-primary" type="submit">登入</button>
            <button class="btn btn-secondary" onclick="demo1()">DEMO1</button>
            <button class="btn btn-secondary" onclick="demo2()">DEMO2</button>
            <button class="btn btn-secondary" onclick="demo3()">DEMO3</button>

        </form>
        <br />
        <P id="loginError" class="text-danger"></P>
    </div>
</div>

@section Scripts {
    <script>
        const baseAddress = "https://yuantaprojectapi-dbg3e4e7dcb6aegr.eastasia-01.azurewebsites.net/";

        $("#loginForm").submit(function(e){
            e.preventDefault();

            const account = $("#account").val();
            const password = $("#password").val();

            //console.log(formData);
            $.ajax({
                url: `${baseAddress}api/Auth/login`,
                type: 'POST',
                contentType:'application/json',
                data: JSON.stringify({account:account, password:password})
            }).done(data=>{
                //console.log(data);
                if(data.success){
                    localStorage.setItem("jwt_token", data.token);
                    localStorage.setItem("userName", data.userName);
                    localStorage.setItem("userId", data.userId);
                    window.location.href = "/Home/ReadingSystem";
                }else{
                    $("#loginError").text(data.message);
                }
            }).fail(err=>{
                console.log(err);
                $("#loginError").text(err.responseJSON.message);
            })
        });

        function demo1(){
            $("#account").val("account01");
            $("#password").val("password01");
        }
        function demo2(){
            $("#account").val("account02");
            $("#password").val("password02");
        }
        function demo3(){
            $("#account").val("account03");
            $("#password").val("password03");
        }

        @if (TempData["NotLoginMessage"] != null)
        {
            <text>
                alert('@Html.Raw(TempData["NotLoginMessage"])');
            </text>
        }
    </script>
}


