@{
    ViewData["Title"] = "文件選單";
    var userName = Context.Request.Cookies["userName"]; 
}

<h2>@userName 歡迎登入，請選擇文件</h2>
<br />
<div id="articleBtn"></div>

@section Scripts{
    <script>
        var baseAddress = "https://yuantaprojectapi-dbg3e4e7dcb6aegr.eastasia-01.azurewebsites.net/";
 
        $(function() {
            $.ajax({
            url:`${baseAddress}api/TArticles/GetTitles`,
            method:'GET',
            }).done(data=>{
            //console.log(data);
            data.forEach(function(item){
                var btn = `<button  class="btn btn-primary" onclick="location.href='/Home/Read?id=${item.fDocumentId}'">${item.fTitle}</button><br/>`;
                $("#articleBtn").append(btn + "<br/>");
            });
            }).fail(err=>{
            $("#articleBtn").html("<p>載入文件標題失敗。</p>");
            })
        });
    </script>
}